/* * { */
/*   border-style: solid; */
/* } */

* {
  font-size: 22px;
}

input[type="checkbox"] {
    width: 2.6em;
    height: 2.6em;
}
button {
    width: 3.2em;
    height: 3.2em;
    font-size: 18px;
}

#tbl_allparts {
}

.mediabutton {
}

.music_progress {
  height: 20px;
  width: 13em;
}

.music_open {
  width: 2.2em;
  height: 2.2em;
}

table {
  border-collapse: collapse;
}

table table {
  display: inline-block;
  padding: 4px 0 0 0;
}

/* zebra-stripes */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

input[type=range][orient=vertical] {
    writing-mode: vertical-lr;
    direction: rtl;
    width: 16px;
    vertical-align: bottom;
}
